<div class="ms_sidemenu_wrapper">
    <div class="ms_nav_close">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
    </div>
    <div class="ms_sidemenu_inner">
        <div class="ms_logo_inner">
            <div class="ms_logo">
                <a href="/Home/Index"><img src="~/Assets/images/logo.png" alt="" class="img-fluid" /></a>                
            </div>
            <div class="ms_logo_open">
                <a href="/Home/Index"><img src="~/Assets/images/open_logo.png" alt="" class="img-fluid" /></a>
            </div>
        </div>
        <div id="LinkActive" class="ms_nav_wrapper">
            <ul>
                <li>
                    <a href="/Home/Index" class="" title="Home">
                        <span class="nav_icon">
                            <span class="icon icon_discover"></span>
                        </span>
                        <span class="nav_text">
                            Home
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/Album" class="" title="Albums">
                        <span class="nav_icon">
                            <span class="icon icon_albums"></span>
                        </span>
                        <span class="nav_text">
                            Albums
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/NgheSi/Index" class="" title="Nghệ sĩ">
                        <span class="nav_icon">
                            <span class="icon icon_artists"></span>
                        </span>
                        <span class="nav_text">
                            Nghệ sĩ
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/Video/ListVideo" class="" title="MV">
                        <span class="nav_icon">
                            <span class="icon icon_genres"></span>
                        </span>
                        <span class="nav_text">
                            MV
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/TinTuc/Index" class="" title="Tin Tức">
                        <span class="nav_icon">
                            <span class="icon icon_tracks"></span>
                        </span>
                        <span class="nav_text">
                            Tin Tức
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/Error/Index" class="" title="Free Music">
                        <span class="nav_icon">
                            <span class="icon icon_music"></span>
                        </span>
                        <span class="nav_text">
                            free music
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/Error/Index" class="" title="Stations">
                        <span class="nav_icon">
                            <span class="icon icon_station"></span>
                        </span>
                        <span class="nav_text">
                            stations
                        </span>
                    </a>
                </li>
            </ul>
            <ul class="nav_downloads">
                <li>
                    <a href="/Error/Index" title="Tải xuống">
                        <span class="nav_icon">
                            <span class="icon icon_download"></span>
                        </span>
                        <span class="nav_text">
                            Tải xuống
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/Error/Index" title="Purchased">
                        <span class="nav_icon">
                            <span class="icon icon_purchased"></span>
                        </span>
                        <span class="nav_text">
                            purchased
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/Error/Index" title="Favourites">
                        <span class="nav_icon">
                            <span class="icon icon_favourite"></span>
                        </span>
                        <span class="nav_text">
                            favourites
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/Error/Index" title="Lịch sử">
                        <span class="nav_icon">
                            <span class="icon icon_history"></span>
                        </span>
                        <span class="nav_text">
                            Lịch sử
                        </span>
                    </a>
                </li>
            </ul>
            <ul class="nav_playlist">
                <li>
                    <a href="/Error/Index" title="Featured Playlist">
                        <span class="nav_icon">
                            <span class="icon icon_fe_playlist"></span>
                        </span>
                        <span class="nav_text">
                            featured playlist
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/Error/Index" title="Create Playlist">
                        <span class="nav_icon">
                            <span class="icon icon_c_playlist"></span>
                        </span>
                        <span class="nav_text">
                            create playlist
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
