<div class="ms_featured_slider">
    <div class="ms_heading">
        <h1>MV Hot</h1>
        <span class="veiw_all"><a href="#">view more</a></span>
    </div>
    <div class="ms_feature_slider swiper-container">
        <div class="swiper-wrapper">
            @foreach (var item in Model)
            {
                <div class="swiper-slide">
                    <div class="ms_rcnt_box">
                        <div class="ms_rcnt_box_img">
                            <img src="~/Assets/images/PosterVideo/@item.Poster" />
                            <div class="ms_main_overlay">
                                <div class="ms_box_overlay"></div>
                                <div class="ms_more_icon">
                                    <img src="~/Assets/images/svg/more.svg" />
                                </div>

                                <div class="ms_play_icon">
                                    <a href="/Video/PlayVideo?id=@item.IdVideo">
                                        <img src="~/Assets/images/svg/play.svg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="ms_rcnt_box_text">
                            <h3><a href="/Video/PlayVideo?id=@item.IdVideo">@item.TieuDe</a></h3>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next1 slider_nav_next"></div>
    <div class="swiper-button-prev1 slider_nav_prev"></div>
</div>
